:root {
  --color-black: #1c2e35;
  --color-blue: #d6f7e7;
  --color-orange: #fa9746;
  --normal-text: "Open Sans", sans-serif;
  --Title-text: "Barlow", sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-family: var(--normal-text);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.nav {
  margin: 0rem 4rem;
}

.nav-link {
  padding: 0.5rem 2rem;
}

.footer {
  background-color: var(--color-black);
  color: white;
  height: 7vh;
  position: absolute;
  width: 100%;
  font-family: var(--normal-text);
}

.backgroung-home {
  background-image: url(../img/Studio-photographer.gif);

  background-repeat: no-repeat;
  height: 83vh;
  background-size: contain;
  margin-right: 5rem;
  background-position: right;
}
.backgroung-contact {
  background-image: url(../img/Chat-bot.gif);

  background-repeat: no-repeat;
  height: 70vh;
  margin-top: 5vh;
  margin-bottom: 8vh;
  background-size: contain;
  margin-right: 5rem;
  background-position: right;
}

.backgroung-AboutMe {
  background-image: url(../img/Focus.gif);

  background-repeat: no-repeat;
  height: 83vh;
  background-size: contain;
  margin-right: 5rem;
  background-position: right;
}

.active {
  color: var(--color-orange);
  font-weight: bold;
}

.title {
  font-family: var(--Title-text);
  font-size: 4rem;
  font-weight: revert;
  text-shadow: 3px 0px var(--color-black);
  color: var(--color-black);
}

.p-l {
  padding-left: 5rem;
}

.p-r {
  padding-right: 5rem;
}

.sub-title {
  font-size: larger;
  margin-top: 0.6rem;
  word-spacing: 1.5px;
  letter-spacing: 0.4px;
}

.button {
  margin-top: 1.5rem;
  width: 30%;
  text-align: inherit;
  font-size: x-large;
  padding: 0.4rem 0.3rem;
  color: white;
  background: var(--color-orange);
  border: none;
  border-radius: 5px;
  box-shadow: var(--color-black) 0.5px 1px 5px;
}

.div-orange {
  background: var(--color-orange);
  border-bottom-right-radius: 90px;
  border-top-right-radius: 90px;
  padding: 0.5rem;
  width: 18rem;
}

.div-blue {
  background: var(--color-blue);
  border-bottom-right-radius: 90px;
  border-top-right-radius: 90px;
  padding: 0.5rem;
  width: 30rem;
}

.paragraph {
  font-size: larger;
  margin: 0.6rem 1rem 0rem 0rem;
  word-spacing: 1.5px;
  letter-spacing: 0.4px;
  margin-top: 2.2rem;
  text-align: justify;
}

.div-blue-gallery {
  float: right;
  background: var(--color-blue);
  border-bottom-left-radius: 90px;
  border-top-left-radius: 90px;
  padding: 0.5rem;
  width: 65%;
  /* position: absolute; */
  position: relative;
  height: 6.5rem;
  z-index: 10;
  top: -44px;
}

.div-orange-gallery {
  background: var(--color-orange);
  border-bottom-right-radius: 90px;
  border-top-right-radius: 90px;
  height: 6.5rem;
  padding: 0.5rem;
  width: 65%;
}

.title-gallery {
  padding-left: 5rem;
  top: -48px;
  position: relative;
}

.gallery-container {
  margin-top: 10rem;
  display: flex;
  flex-flow: wrap;
  gap: 2rem;
  justify-content: center;
  margin-bottom: 4rem;
}
.opinion-container {
  display: flex;
  gap: 2rem;
  padding: 2rem 0rem;
  width: 60%;
  text-align: justify;
}
.opinion-text{
  font-size: large;
  font-weight: bold;
  font-family: 'Barlow';
}
